.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5e068a;
    color: white;
    padding: 0;
}

@media screen and (max-width: 800px){
    
    

.carousel-inner h1{
    font-size: medium;
    text-align: left;
    

}
.carousel-inner P{
    
    text-align: left;
    font-size: medium;
}

}